<section class="portfolio" id="portfolio">

    <h1 class="heading"> <span> angular </span> websites </h1>

    <div class="box-container" *ngFor="let site of sites; let i = index">

        <div class="box">
            <img src="{{site.image}}" alt="">
            <h3> {{site.title}} </h3>
            <div class="icons">
                <a target="_ blank" href="{{site.link}}" class="fas fa-link"></a>
                <a target="_ blank" href="{{site.github}}" class="fab fa-github"></a>
            </div>
        </div>

    </div>

</section>