<section class="contact" id="contact">

    <h1 class="heading"> contact <span> me </span> </h1>

    <div class="icons-container">

        <div class="icons">
            <i class="fas fa-envelope"></i>
            <h3>My Email</h3>
            <p>vladbekkoshkarov@yandex.ru</p>
        </div>

        <div class="icons">
            <i class="fas fa-phone"></i>
            <h3>My Number</h3>
            <p>+7-(911)-417-3765</p>
        </div>

        <div class="icons">
            <i class="fas fa-map-marker-alt"></i>
            <h3>My Address</h3>
            <p>Skandinavskiy pr. 2, Petrozavodsk, Karelia Republic, 185016</p>
        </div>

    </div>

    <div class="row">

        <form #mainform (ngSubmit)="onSubmit()" novalidate #contactInput="ngForm">

            <input type="text" 
                   placeholder="Name" 
                   class="box" 
                   name="name" 
                   required
                   [(ngModel)]="name">
                   

            <input type="email" 
                   placeholder="Email"
                   class="box"
                   email 
                   name="email" 
                   [(ngModel)]="email"
                   required>

            <textarea placeholder="Messages" 
                    name="messages" 
                    [(ngModel)]="messages" 
                    required 
                    cols="30" rows="10">
            </textarea>

            <input type="submit" 
                   class="btn" 
                   value="Send" 
                   [disabled]="contactInput.invalid">

        </form>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120718.87973093601!2d34.2013180424944!3d61.786298662814595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46a1ec3dd7bf1fe7%3A0xe49db0d89a0485d4!2z0J_QtdGC0YDQvtC30LDQstC-0LTRgdC6LCDQoNC10YHQvy4g0JrQsNGA0LXQu9C40Y8!5e0!3m2!1sru!2sru!4v1645448466894!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    

    </div>


</section>