<section class="about" id="about">

    <h1 class="heading"> about <span> me </span> </h1>
    
    <div class="row-1">
    
        <div class="image">
            <img src="../../../assets/images/home-img.jpg" alt="">
        </div>
    
        <div class="content">
            <h3> My name is Vladislav Bekkoshkarov & <br> I am a Front-End Developer </h3>
            <p>Thoroughly enjoy good design and clean code. I like to work in teams on interesting projects and tasks and also devote a lot of time to self-education and self-development.</p>
            <div class="box-container">
                <div class="box">
                    <p> <span> Age : </span> 25 </p>
                    <p> <span> Gender : </span> Male </p>
                    <p> <span> Language : </span> Russian, English </p>
                    <p> <span> Work : </span> Front-end developer </p>
                </div>
                <div class="box">
                    <p> <span> Freelance : </span> Available </p>
                    <p> <span> Phone : </span> +7-(911)-417-37-65 </p>
                    <p> <span> Email : </span> vladbekkoshkarov@yandex.ru </p>
                    <p> <span> Country : </span> Russia </p>
                </div>
            </div>
            <a href="#" class="btn">Download CV</a>
            <a href="https://github.com/vitkovsky21/" class="btn"><span class="fab fa-github"></span></a>
            <div class="object">
                <object>
                    <embed src="../../../assets/Sertificate.pdf" width="600" height="400" />
                </object>
            </div>
        </div>
    
    </div>
    
    <h1 class="heading"> <span> My </span> skills </h1>
    
    <div class="row-2">
    
        <div class="skills">
            <div class="progress">
                <h3> Angular </h3>
                <div class="bar"> <span></span> </div>
            </div>
            <div class="progress">
                <h3> Typescript </h3>
                <div class="bar"> <span></span> </div>
            </div>
            <div class="progress">
                <h3> Javascript </h3>
                <div class="bar"> <span></span> </div>
            </div>
            <div class="progress">
                <h3> HTML </h3>
                <div class="bar"> <span></span> </div>
            </div>
            <div class="progress">
                <h3> CSS/SCSS/SASS </h3>
                <div class="bar"> <span></span> </div>
            </div>
            <div class="progress">
                <h3> Firebase </h3>
                <div class="bar"> <span></span> </div>
            </div>
            <div class="progress">
                <h3> Git </h3>
                <div class="bar"> <span></span> </div>
            </div>
            <div class="progress">
                <h3> Webpack </h3>
                <div class="bar"> <span></span> </div>
            </div>
            <div class="progress">
                <h3> Docker </h3>
                <div class="bar"> <span></span> </div>
            </div>
        </div>

    
    </div>
    
    </section>
    