<div (window:scroll)="closeToggle()">
   <div (click)="onToggleHeader()" (click)="onToggleMenu()" [ngClass]="{'fa-times': toggleMenu}" id="menu-bars" class="fas fa-bars"></div>
   
   <header [ngClass]="{active: toggleHeader}">

       <div class="cursor-1" #cursor1></div>
       <div class="cursor-2" #cursor2></div>
   
       <a routerLink="" class="logo"> <span>My </span>portfolio </a>
   
       <nav class="navbar">
           <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Main</a>
           <a routerLink="portfolio">Portfolio</a>
           <a routerLink="contact">Contact</a>
       </nav>
   
       <div class="follow">
           <a href="#" class="fab fa-facebook-f"></a>
           <a href="#" class="fab fa-twitter"></a>
           <a href="#" class="fab fa-instagram"></a>
           <a href="#" class="fab fa-linkedin"></a>
       </div>
   
   </header>
</div>