<div (window:scroll)="closeToggle()">
   <div (click)="onToggleHeader()" (click)="onToggleMenu()" [ngClass]="{'fa-times': toggleMenu}" id="menu-bars" class="fas fa-bars"></div>
   
   <header [ngClass]="{active: toggleHeader}">
   
       <a routerLink="" class="logo"> <span>Моё </span>Портфолио </a>
   
       <nav class="navbar">
           <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeToggle()">Главная</a>
           <a routerLink="portfolio" routerLinkActive="active" (click)="closeToggle()">Портфолио</a>
           <a routerLink="contact" routerLinkActive="active" (click)="closeToggle()">Контакты</a>
       </nav>
   
       <div class="follow">
           <a href="https://github.com/vitkovsky21" target="_blank" class="fab fa-github"></a>
           <a href="" class="fab fa-linkedin"></a>
       </div>
   
   </header>
</div>