<section class="home" id="home">

    <div class="content">
        <span class="hi"> hi there... </span>
        <h3> i am <span> bekkoshkarov vladislav </span> </h3>
        <p class="info"> i am a front-end developer </p>
        <p class="text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias quidem excepturi natus iste ut. Alias, quod? Earum pariatur obcaecati dolorum! </p>
        <a href="#about" class="btn">about me</a>
    </div>

    <div class="image">
        <img src="../../../assets/images/home-img.PNG" alt="">
    </div>

</section>